<%- include('./partials/header') %>
<h2>Become an <span class="text-accent">Admin</span></h2>
<p>
  Want to become a club <span class="text-accent">admin</span>? Enter the secret
  admin passcode below. There's no hint for this one.
</p>

<form action="" method="POST" class="form">
  <div class="input-container">
    <label for="passcode">Passcode</label>
    <input
      type="password"
      id="passcode"
      name="passcode"
      class="input"
      required
      autocomplete="off"
    />
    <%- locals.error && include('./partials/error-msg', { msg: error }) %>
  </div>
  <button type="submit" class="form-btn">Submit</button>
</form>

<%- include('./partials/footer') %>
