<%- include('./partials/header') %>
<h2>Become a <span class="text-accent">Member</span></h2>
<p>
  Want to join the club? Enter the secret passcode to become a
  <span class="text-accent">member</span>.
</p>
<div>
  <h3 class="text-accent">Hint</h3>
  <p>
    Tread on them living, they make not a mumble.<br />
    Tread on them dead, they mutter and grumble.<br />
    What are they?
  </p>
</div>

<form action="" method="POST" class="form">
  <div class="input-container">
    <label for="passcode">Passcode</label>
    <input
      type="text"
      id="passcode"
      name="passcode"
      class="input"
      required
      autocomplete="off"
    />
    <%- locals.error && include('./partials/error-msg', { msg: error }) %>
  </div>
  <button type="submit" class="form-btn">Submit</button>
</form>

<%- include('./partials/footer') %>
