<%- include('./partials/header') %>
<h2><%= title %></h2>

<form action="" method="POST" class="form">
  <div class="input-container">
    <label for="email">Email</label>
    <input
      type="email"
      id="email"
      name="email"
      placeholder="example@email.com"
      class="input"
      required
    />
  </div>

  <div class="input-container">
    <label for="password">Password</label>
    <input
      type="password"
      id="password"
      name="password"
      class="input"
      required
    />
    <!-- prettier-ignore -->
    <% console.log(locals.messages) %>
    <%- locals.hasMessages ? include('./partials/error-msg', { msg: messages[0] }) : '' %>
  </div>

  <button type="submit" class="form-btn">Login</button>
</form>
<%- include('./partials/footer') %>
