@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply text-gray-800;
}

h1, h2, h3 {
  @apply font-display;
  @apply font-bold;
}

h1 {
  @apply text-3xl;
}

h2 {
  @apply text-4xl;
}

h3 {
  @apply text-3xl;
}

p, li, label, input, textarea {
  @apply sm:text-lg;
}

.menu {
  position: absolute;
  right: 0;
  @apply p-3;
  @apply shadow-lg;
  @apply bg-white;
  @apply border;
  @apply rounded;
  @apply flex-col;
}

.hidden {
  display: none;
}

.text-accent {
  @apply font-bold;
  @apply text-indigo-600;
}

.form {
  @apply flex;
  @apply flex-col;
  @apply gap-4;
}

.input-container {
  @apply flex;
  @apply flex-col;
  @apply gap-1;
}

.input {
  @apply w-full;
  @apply border;
  @apply border-gray-300;
  @apply rounded;
  @apply px-4;
  @apply py-3;
  @apply shadow-inner;
}

.form-btn {
  @apply bg-indigo-500;
  @apply hover:bg-indigo-600;
  @apply text-white;
  @apply text-lg;
  @apply rounded;
  @apply px-4;
  @apply py-3;
  @apply mt-1;
}

.link-btn {
  @apply bg-indigo-500;
  @apply hover:bg-indigo-600;
  @apply text-white;
  @apply text-center;
  @apply hover:no-underline;
  @apply rounded;
  @apply px-3;
  @apply py-2;
  @apply min-w-max;
}
